/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 15, 2018, 1:09:46 AM
    Author     : lVl4rl2LoN
*/

#leftbox{
    float: left;
    padding: 20px;
    border: 3px solid red;
    
}

#rightbox{
    float: left;
    width:250px;
    margin-left: 20px;
    padding: 20px;
    border: 3px solid blue;
}